body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #434343;
}

.time-timer {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50px;
  border: 20px solid #2c2c2c;
  background-color: white;
}

.time-timer.blink {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0%,
  100% {
    background-color: #ffffff;
  }
  50% {
    background-color: #ff0000;
  }
}

.time-timer .title {
  position: absolute;
  right: 5%;
  bottom: 1.5%;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #434343;
}

.time-timer .minute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-timer .minute > div {
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}
.time-timer .minute > div::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -100px;
  margin-left: 2px;
  width: 4px;
  height: 20px;
  background-color: #434343;
}

.time-timer .minute > div span {
  position: relative;
  top: -160px;
  display: block;
}

.time-timer .minute > div.m0 {
  transform: rotate(0deg);
}
.time-timer .minute > div.m0 span {
  transform: rotate(0deg);
}

.time-timer .minute > div.m5 {
  transform: rotate(-30deg);
}
.time-timer .minute > div.m5 span {
  transform: rotate(30deg);
}

.time-timer .minute > div.m10 {
  transform: rotate(-60deg);
}
.time-timer .minute > div.m10 span {
  transform: rotate(60deg);
}

.time-timer .minute > div.m15 {
  transform: rotate(-90deg);
}
.time-timer .minute > div.m15 span {
  transform: rotate(90deg);
}

.time-timer .minute > div.m20 {
  transform: rotate(-120deg);
}
.time-timer .minute > div.m20 span {
  transform: rotate(120deg);
}

.time-timer .minute > div.m25 {
  transform: rotate(-150deg);
}
.time-timer .minute > div.m25 span {
  transform: rotate(150deg);
}

.time-timer .minute > div.m30 {
  transform: rotate(-180deg);
}
.time-timer .minute > div.m30 span {
  transform: rotate(180deg);
}

.time-timer .minute > div.m35 {
  transform: rotate(-210deg);
}
.time-timer .minute > div.m35 span {
  transform: rotate(210deg);
}

.time-timer .minute > div.m40 {
  transform: rotate(-240deg);
}
.time-timer .minute > div.m40 span {
  transform: rotate(240deg);
}

.time-timer .minute > div.m45 {
  transform: rotate(-270deg);
}
.time-timer .minute > div.m45 span {
  transform: rotate(270deg);
}

.time-timer .minute > div.m50 {
  transform: rotate(-300deg);
}
.time-timer .minute > div.m50 span {
  transform: rotate(300deg);
}

.time-timer .minute > div.m55 {
  transform: rotate(-330deg);
}
.time-timer .minute > div.m55 span {
  transform: rotate(330deg);
}

.time-timer canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.controller {
  margin-top: 40px;
  color: #fff;
}

.controller .lable {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
}

.controller button {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: color 0.1s ease-in-out;
}

.controller button:active {
  color: #f00;
}

.controller .buttons {
  float: left;
  width: 50%;
  text-align: center;
}

.controller .setting {
  float: right;
  width: 50%;
  text-align: center;
}

.controller .setting .number {
  display: inline-block;
  text-align: center;
  width: 50px;
  font-size: 30px;
}

.controller .setting .number input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
